meter {
    /* Reset the default appearance */            
    margin: 0 auto 1em;
    width: 100%;
    height: .5em;
    
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: #007bff; }
meter[value="2"]::-webkit-meter-optimum-value { background: #007bff; }
meter[value="3"]::-webkit-meter-optimum-value { background: #007bff; }
meter[value="4"]::-webkit-meter-optimum-value { background: #007bff; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: #007bff; }
meter[value="2"]::-moz-meter-bar { background: #007bff; }
meter[value="3"]::-moz-meter-bar { background: #007bff; }
meter[value="4"]::-moz-meter-bar { background: #007bff; }

meter::-webkit-meter-optimum-value {
	transition: width .4s ease-out;
}

#password-strength-meter {
    display: inline;
}

#password-strength-meter .glyphicon {
    font-size: 1.1em;
    margin-left: 5px;
}

#password-strength-meter .glyphicon:hover {
    cursor: pointer;
}